@charset "utf-8";

html,body,p,form,ul,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
body,a,li,input,button,textarea{font-family:"microsoft yahei" !important}
table{border-collapse:collapse;border-spacing:0}
th,td{padding:0}
a{text-decoration:none}
li{list-style:none}
img{border:0 none}
textarea{line-height:20px}
input,button,textarea{font-size:14px;outline:0 none;margin:0;padding:0}
input::-ms-clear{display:none}
body{line-height:20px;font-size:14px;background-color:#fff}


body.zc_bd{ background:#f5f5f5;}

.zc_top{ width:100%; height:99px; background:url(../images/zctopbk.png) repeat-x left top;}
.zc_top .zctop_con{ width:1150px; height:99px; margin:0 auto;}
.zc_top .zctop_con .logo{ width:auto; height:45px; float:left; display:inline; margin:28px 0 0 0;}
.zc_top .zctop_con .logo img{ width:auto; height:45px; vertical-align:middle;}
.zc_top .zctop_con .logo span{ width:auto; height:40px; display:inline-block; vertical-align:middle; font:normal 26px/40px "微软雅黑"; color:#837e77; border-left:1px solid #e9eced; padding-left:22px; margin-left:22px;}
.zc_top .zctop_con .zctop_r{ float:right; display:inline; margin-top:25px;}
.zc_top .zctop_con .zctop_r a{ width:130px; height:40px; display:inline-block; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; background:#db3e42 url(../images/zc_ico01.png) no-repeat 12px center; font:normal 18px/40px "微软雅黑"; color:#fff; text-indent:40px; }
.zc_top .zctop_con .zctop_r a:hover{ background:#dc171c url(../images/zc_ico01.png) no-repeat 12px center;}
.zc_top .zctop_con .topcon_r{ float:right; display:inline; margin-top:38px;}
.zc_top .zctop_con .topcon_r .tel{ background:url(../images/tel.png) no-repeat left center; padding-left:45px; font:normal 18px/35px "微软雅黑"; color:#565656;}

.zc_mid{ width:1150px; height:auto; overflow:hidden; margin:28px auto; background:#fff; border-radius:15px; -moz-border-radius:15px; -ms-border-radius:15px; -o-border-radius:15px; -webkit-border-radius:15px;}

.zc_titz{ width:100%; height:68px; border-bottom:1px solid #efefef; text-align:left;}
.zc_titz a{ width:auto; height:67px; display:inline-block; text-align:center; padding:0 10px; font:normal 20px/65px "微软雅黑"; color:#6e6d6d; margin:0 25px; vertical-align:middle;}

.zc_tit{ width:100%; height:118px; border-bottom:1px solid #efefef; text-align:center;}
.zc_tit a{ width:auto; height:117px; display:inline-block; text-align:center; padding:0 10px; font:normal 20px/40px "微软雅黑"; color:#6e6d6d; margin:0 25px; vertical-align:middle;}


.zc_tit a span.zc1{ width:27px; height:27px; background:url(../images/zc_ico02.png) no-repeat center top; display:block; margin:30px auto 5px auto;}
.zc_tit a span.zc2{ width:27px; height:27px; background:url(../images/zc_ico03.png) no-repeat center top; display:block; margin:30px auto 5px auto;}
.zc_titz a span.zc2{ width:27px; height:27px; background:url(../images/zc_ico03.png) no-repeat center top; display:block; margin:30px auto 5px auto;}
.zc_tit a span.zc3{ width:27px; height:27px; background:url(../images/zc_ico11.png) no-repeat center top; display:block; margin:30px auto 5px auto;}
.zc_tit a.zctiton{ color:#db3e42; border-bottom:2px solid #db3e42;}
.zc_titz a.zctiton{ color:#db3e42; border-bottom:2px solid #db3e42;}
.zc_tit a.zctiton span.zc1{ background:url(../images/zc_ico02on.png) no-repeat center top; }
.zc_tit a.zctiton span.zc2{  background:url(../images/zc_ico03on.png) no-repeat center top; }
.zc_tit a.zctiton span.zc3{  background:url(../images/zc_ico11on.png) no-repeat center top; }
.zc_tit span.zc_step{ width:40px; height:117px; background:url(../images/zc_step.png) no-repeat center center; display:inline-block; vertical-align:middle;}

.zc_con1{ width:500px; height:auto; overflow:hidden; margin:40px auto;}
.zccon1_l{ width:500px; height:auto; overflow:hidden; float:left; display:inline;}
.zc_xq{ width:500px; height:auto; overflow:hidden;}

ul.ul05{ width:100%; height:auto;}
ul.ul05 li{ width:100%; height:70px; border-bottom:1px solid #e5e5e5;}
ul.ul05 li span.dh{ width:105px; height:66px; display:inline-block; position:relative; }
ul.ul05 li span.dh a{ width:105px; height:66px; display:block; background:url(../images/zc_ico10.png) no-repeat right center; font:normal 18px/66px "微软雅黑"; color:#837e77;text-indent:11px;}
ul.ul05 li span.dh ul.dh_list{ width:105px; height:auto; position:absolute; left:0px; top:70px; border:1px solid #e5e5e5; background:#fff;}
ul.ul05 li span.dh ul.dh_list li{ width:100%; height:30px; border-bottom:1px solid #e5e5e5;}
ul.ul05 li span.dh ul.dh_list li a{width:100%; height:30px; border:none; background:none; font:normal 16px/30px "微软雅黑";}
ul.ul05 li span.dh ul.dh_list li a:hover{ color:#af0707;}
ul.ul05 li input.text04{ width:180px; height:66px; text-indent:10px; font:normal 16px/66px "微软雅黑"; color:#666; border:none;}
ul.ul05 li input.text05{ width:180px; height:66px; text-indent:10px; font:normal 16px/66px "微软雅黑"; color:#666; border:none;}
ul.ul05 li img.yzm{ vertical-align:middle; float:right; display:inline; margin-top:10px;}
ul.ul05 li input.but02{ width:auto; height:66px; float:right; display:inline;  font:normal 16px/66px "微软雅黑"; color:#db3e42; border:none; background:none; cursor:pointer;}
ul.ul05 li.li02{ border:none; font:normal 15px/50px "微软雅黑"; color:#6d6d6d;}
ul.ul05 li.li02 a{color:#db3e42;}
ul.ul05 li.li02 a:hover{ text-decoration:underline;}
ul.ul05 li a.xz{ width:45%; height:40px; display:inline-block; border:1px solid #DEE6E9; text-align:center; font:normal 16px/40px "微软雅黑"; color:#929292; margin-top:20px;}
ul.ul05 li a.xz:hover{ border:1px solid #dc4145; text-decoration:none;}
ul.ul05 li a.xzon{ border:1px solid #dc4145;}
ul.ul05 li.li02 a.checkbox{ width:14px; height:14px; background:url(../images/zc_ico04.png) no-repeat center top; display:inline-block; vertical-align:middle; margin:0 5px 3px 0;}
ul.ul05 li.li02 a.checkboxon{background:url(../images/zc_ico04on.png) no-repeat center top;}
ul.ul05 li.li02 input.but03{ width:100%; height:48px; display:block; background:#af0707; border:none; text-align:center; font:normal 20px/48px "微软雅黑"; color:#fff; cursor:pointer;}
ul.ul05 li.li02 input.but03:hover{  background:#cc0000;}


ul.ul06{ width:100%; height:auto;}
ul.ul06 li{ width:100%; height:70px; overflow: hidden; position: relative; padding-left: 78px; box-sizing: border-box; font: normal 14px/28px "微软雅黑"; color: #808080; padding-top:3px; padding-right:3px;}
ul.ul06 li span.text{ display:black; width:70px; position: absolute; left: 0; top: 3px; font: normal 16px/38px "微软雅黑"; color: #3b3b3b; text-align:right;}
ul.ul06 li span.ts{ position: absolute; padding-left:10px;font: normal 12px/30px "微软雅黑";color: #db3e42;}
ul.ul06 li input.text06{ width: 300px;
    height: 38px;
    text-indent: 5px;
    font: normal 14px/38px "微软雅黑";
    color: #5d5d5d;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;}
ul.ul06 li input.text06:hover{border-color:#2f86f6!important;
box-shadow:0 0 4px 0 #2f86f6!important}
ul.ul06 li input.text07{ width:180px; height:38px; text-indent:10px;  font:normal 14px/46px "微软雅黑"; color:#5d5d5d;  border: 1px solid #d3d3d3;
    box-sizing: border-box;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;}
ul.ul06 li input.text07:hover{border-color:#2f86f6!important;
box-shadow:0 0 4px 0 #2f86f6!important}
ul.ul06 li img.yzm{ width:100px; height:37px; vertical-align:middle; margin-left:15px;}
ul.ul06 li input.but02{ width:auto; height:66px; float:right; display:inline;  font:normal 16px/66px "微软雅黑"; color:#db3e42; border:none; background:none; cursor:pointer;}
ul.ul06 li.li03{ border:none; font:normal 15px/50px "微软雅黑"; color:#6d6d6d; height:50px;}
ul.ul06 li.li03 a{color:#db3e42;}
ul.ul06 li.li03 a:hover{ text-decoration:underline;}
ul.ul06 li a.xz{ width:45%; height:40px; display:inline-block; border:1px solid #DEE6E9; text-align:center; font:normal 16px/40px "微软雅黑"; color:#929292; }
ul.ul06 li a.xz:hover{ border:1px solid #dc4145; text-decoration:none;}
ul.ul06 li a.xzon{ border:1px solid #dc4145;}
ul.ul06 li.li03 a.checkbox{ width:14px; height:14px; background:url(../images/zc_ico04.png) no-repeat center top; display:inline-block; vertical-align:middle; margin:0 5px 3px 0;}
ul.ul06 li.li03 a.checkboxon{background:url(../images/zc_ico04on.png) no-repeat center top;}
ul.ul06 li.li03 input.but03{ width:300px; height:48px; display:block; background:#af0707; border:none; text-align:center; font:normal 20px/48px "微软雅黑"; color:#fff; cursor:pointer;}
ul.ul06 li.li03 input.but03:hover{  background:#cc0000;}



.zccon1_r{ width:180px; height:auto; overflow:hidden; float:right; display:inline;}
.zccon1_r p{ font:normal 16px/30px "微软雅黑"; color:#767676; margin-bottom:45px; margin-top:20px;}
.zccon1_r p a.zjdl{ display:inline-block; background:url(../images/zc_ico05.png) no-repeat right center; padding-right:20px; color:#db3e42;}
.zccon1_r p a img{ margin:8px 10px 0 0;}
.zccon1_r .ewm1{ border:5px solid #f4f4f4; width:116px; height:auto; padding:8px; border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px;}
.zccon1_r .ewm1 img{width:116px; height:auto; display:block;}
.zccon1_r p.p1{ margin-bottom:30px; margin-top:10px;}


.zc_con2{ width:610px; height:auto; overflow:hidden; margin:36px auto 50px auto;}
ul.ul07{ width:100%; height:auto;}
ul.ul07 li{ width:100%; height:auto; overflow:hidden; position:relative; padding-left:20px; box-sizing:border-box; font:normal 14px/28px "微软雅黑"; color:#808080; margin-bottom:25px;}
ul.ul07 li span.bt{ position:absolute; left:0; top:0px; font:normal 20px/46px "微软雅黑"; color:#ff1515;}
ul.ul07 li input.text08{ width:100%; height:46px; text-indent:10px; background:#F5F5F5; font:normal 16px/46px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; box-sizing:border-box; border:1px solid #f5f5f5;}
ul.ul07 li input.text08:hover{ border:1px solid #f07878;}
ul.ul07 li input.text09{ width:312px; height:46px; text-indent:10px; background:#F5F5F5; font:normal 16px/46px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; display:block; box-sizing:border-box; border:1px solid #f5f5f5;}
ul.ul07 li input.text09:hover{ border:1px solid #f07878;}
ul.ul07 li a.but05{width:180px; height:50px; display:inline-block; background:#af0707; border:none; text-align:center; font:normal 20px/50px "微软雅黑"; color:#fff; cursor:pointer; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; }
ul.ul07 li a.but05:hover{  background:#cc0000;}
ul.ul07 li .sc{width:100%; height:auto; overflow:hidden; text-align:center; padding:10px 0; background:#F5F5F5; font:normal 15px/28px "微软雅黑"; color:#909090; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; margin-bottom:10px;}
ul.ul07 li .sc a{ display:block;  color:#909090; }
ul.ul07 li .sc a p.sc_tit{ font:normal 16px/30px "微软雅黑"; color:#db3e42;}
ul.ul07 li .sc a p.sc_tit img{ vertical-align:middle; margin:0 5px 3px 0;}



.zc_con3{ width:460px; height:auto; overflow:hidden; margin:36px auto;}
.yxyz_con1{ text-align:center; font:normal 25px/35px "微软雅黑"; color:#393939;}
.yxyz_con1 span{ font:normal 17px/35px "微软雅黑"; color:#747474;}
.yxyz_con1 img{ display:block; margin:10px auto;}


.yxyz_con2{ margin-top:50px;}
.yxyz_con2 p{ font:normal 14px/30px "微软雅黑"; color:#979797;}
.yxyz_con2 p a{ color:#af0707;}
.yxyz_con2 p a:hover{ text-decoration:underline;}
.yxyz_con2 p.yxyz_tit{ color:#555; font:normal 18px/35px "微软雅黑";}


.zc_tit1{ width:100%; height:78px; border-bottom:1px solid #efefef; text-align:center;}
.zc_tit1 span{ width:auto; height:77px; display:inline-block; text-align:center; padding:0 10px; font:bold 24px/77px "微软雅黑"; color:#db3e42; border-bottom:2px solid #db3e42;}
.zc_tit1 span img{ vertical-align:middle; margin:0 10px 3px 0;}

.zc_con4{width:640px; height:auto; overflow:hidden; margin:36px auto}
table.tab02{ width:100%; height:auto; overflow:hidden;}
table.tab02 tr td{ font:normal 16px/38px "微软雅黑"; color:#616161; padding:10px 0; }
table.tab02 tr td.td01{ text-align:right; padding-right:5px;}
table.tab02 tr td.td01 span.bt1{ color:#e00202; margin-right:5px;}
table.tab02 tr td input.text10{ width:350px; height:38px; text-indent:10px; background:#F5F5F5; font:normal 15px/38px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; display:inline-block; border:1px solid #f5f5f5;}
table.tab02 tr td input.text10:hover{ border:1px solid #f07878;}
table.tab02 tr td select.select1{ width:350px; height:38px; text-indent:10px; background:#F5F5F5; font:normal 15px/38px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; display:block;  border:1px solid #f5f5f5;}
table.tab02 tr td select.select1:hover{ border:1px solid #f07878;}

table.tab02 tr td input.text11{ width:350px; height:38px; text-indent:10px; background:#F5F5F5 url(../images/zc_ico15.png) no-repeat 310px center; font:normal 15px/38px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; display:block;  border:1px solid #f5f5f5;}
table.tab02 tr td input.text11:hover{ border:1px solid #f07878;}

table.tab02 tr td select.select2{ width:205px; height:38px; text-indent:10px; background:#F5F5F5; font:normal 15px/38px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; display:inline-block; margin-right:10px; margin-bottom:2px;  border:1px solid #f5f5f5;}
table.tab02 tr td select.select2:hover{ border:1px solid #f07878;}

table.tab02 tr td input.text12{ width:205px; height:38px; text-indent:10px; background:#F5F5F5 url(../images/zc_ico15.png) no-repeat 310px center; font:normal 15px/38px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; display:inline-block; margin-right:10px; margin-bottom:2px; border:1px solid #f5f5f5;}
table.tab02 tr td input.text12:hover{ border:1px solid #f07878;}


table.tab02 tr td textarea{ width:504px; height:110px; text-indent:10px; background:#F5F5F5; font:normal 15px/38px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; display:block; border:1px solid #f5f5f5;}
table.tab02 tr td textarea:hover{ border:1px solid #f07878;}

table.tab02 tr td input.text13{ width:154px; height:38px; text-indent:10px; background:#F5F5F5; font:normal 15px/38px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; display:inline-block; vertical-align:middle; box-sizing:border-box; border:1px solid #f5f5f5;}
table.tab02 tr td input.text13:hover{ border:1px solid #f07878;}
table.tab02 tr td img.yzm{ width:98px; height:38px; vertical-align:middle; margin-left:10px;}
table.tab02 tr td a{ color:#f84d18; font:normal 14px/38px "微软雅黑"; text-decoration:underline; margin-left:10px;}
table.tab02 tr td a:hover{ color:#db3e42;}
table.tab02 tr td span.ts{ color:#bcbcbc; font:normal 12px/38px "微软雅黑"; margin-left:10px;}

.zc_tit2{ width:100%; height:40px; border-bottom:1px solid #FED6D4; font:normal 16px/40px "微软雅黑"; color:#fa1f1f; text-indent:12px;}

a.but06{width:180px; height:50px; display:block; background:#af0707; border:none; text-align:center; font:normal 20px/50px "微软雅黑"; color:#fff; cursor:pointer; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; margin:20px auto;}
a.but06:hover{  background:#cc0000;}


.zc_footer{ width:100%; height:auto; overflow:hidden; background:#fff;}
.zc_footer1{ width:1150px; height:auto; overflow:hidden; margin:0 auto; padding:30px 0 20px 0;}
.zc_tel{ width:135px; height:auto; overflow:hidden; float:left; display:inline; margin-left:32px;}
.zc_tel img{ display:block; margin:5px auto;}
.zc_tel p{ font:normal 16px/28px "微软雅黑"; color:#969494;}
.zc_tel p span{ font:bold 18px/28px "微软雅黑"; color:#ac0505;}
.zc_tel p.zxsj{ font:normal 12px/28px "微软雅黑"; color:#969494;}

.zc_link{ width:135px; height:auto; overflow:hidden; float:left; display:inline; margin-left:60px; border-right:1px solid #e4e2e2;}
.zc_link1{ border:none;}
ul.ul04{ width:100%; height:auto; overflow:hidden;}
ul.ul04 li{ width:100%; height:28px; overflow:hidden; font:normal 14px/28px "微软雅黑"; color:#4e4d4d;}
ul.ul04 li.ul04li_tit{ font:bold 16px/28px "微软雅黑"; color:#4d4c4c;}
ul.ul04 li a{ color:#4e4d4d;}
ul.ul04 li a:hover{ color:#db3e42;}
.zc_ewm{ width:135px; height:auto; overflow:hidden; float:right; display:inline; margin-right:50px; font:normal 14px/30px "微软雅黑"; color:#5b5b5b; text-align:center;}
.zc_ewm img{ width:135px; height:suto; display:block;}

.zc_footer2{ background:#5d5d5d; padding:5px 0;}
.zc_footer2 p{font:normal 14px/28px "微软雅黑"; color:#fff; text-align:center;}


/*注册*/

.clearfix:before,.clearfix:after{content:"";display:table;clear:both}
.clearfix{*zoom:1;/*ie6,7*/}

.lrcon{width:1002px;margin:0 auto;padding:60px 0 20px;background:url(http://img01.51jobcdn.com/im/2016/temp/bg_login.png) #fff center 70px no-repeat}
.lrcon .lrbox{width:760px;margin:0 auto;background:url(http://img01.51jobcdn.com/im/2016/temp/bg_lr.png) #fff repeat-y}
.lrcon .lr_lf{float:left;width:159px;padding:50px 40px 0;border-top:10px solid #ff9f20}
.lrcon .lr_rt{position:relative;float:left;width:440px;padding:0 40px 32px;border-top:10px solid #ffc666}
.lrcon .lr_bm{width:760px;height:18px;margin:0 auto;background:url(http://img01.51jobcdn.com/im/2016/temp/bg_lrbm.png) no-repeat}
.lrcon .lr_ok{min-height:20px;color:#666}
.lrcon .lr_ok input[type="checkbox"]{vertical-align:middle}
.lrcon .lr_ok a{float:right}
.lrcon .btnbox{text-align:center;padding:20px 0 30px}
.lrcon .btnbox .p_but{width:438px;height:40px;line-height:40px;font-size:18px;margin:0}
.lrcon .lr_c{position:relative;margin-bottom:60px;padding-left:50px}
.lrcon .lr_c label{position:absolute;width:32px;height:32px;top:50%;left:0;margin-top:-16px;background:url(http://img01.51jobcdn.com/im/2016/temp/icon_lr.png) no-repeat}
.lrcon .lr_c label.l1{background-position:0 0}
.lrcon .lr_c label.l2{background-position:0 -35px}
.lrcon .lr_c label.l3{background-position:0 -70px}
.lrcon .lr_c label.l4{background-position:0 -105px}
.lrcon .lr_c label.l5{background-position:0 -140px}
.lrcon .lr_c label.l6{background-position:0 -175px}
.lrcon .lr_c label.l7{background-position:0 -210px}
.lrcon .lr_c label.l8{background-position:0 -245px}
.lrcon .lr_c .lr_cn p{color:#666;margin-bottom:5px}
.lrcon .errbox{position:absolute;width:440px;height:26px;line-height:26px;font-size:12px;color:#ff6000;text-align:center;top:70px;left:40px;background-color:#fff2e3}
.lrcon .errbox .err{float:none;background-position:0 1px}
.lrcon .errbox a{color:#ff6000;text-decoration:underline}
.lrcon .err,.lrcab .err,.lr_fb .err{float:right;font-size:12px;font-weight:normal;color:#ff6000;padding-left:20px;background:url(http://img01.51jobcdn.com/im/2016/form/error.png) 0 3px no-repeat}
.lrcon .h,.lrcab .h{float:right}
.lrcon .h p,.lrcab .h p{float:left;height:17px;line-height: 10px;font-weight:normal;text-align:center;padding:4px 5px 0;border-right: 1px solid #ffffff}
.lrcon .mind{font-size:12px;color:#999;margin-top:30px;padding-top:20px;border-top:1px dotted #ddd}
.lrcon.l2{background-image:url(http://img01.51jobcdn.com/im/2016/temp/bg_register.png)}
.lrcon.l2 .lr_h{text-align:left}
.lrcon.l2 .lr_ok a{float:none}
.en .lrcon .lr_lf{width:197px;padding:50px 21px 0}

.lr_h{line-height:24px;font-size:24px;color:#ff6000;text-align:center;padding:40px 0}
.lr_h a{float:right;font-size:16px;color:#333}
.lr_h a:hover{color:#ff6000}
.lr_h2{line-height:24px;color:#333;margin-bottom:40px}
strong.lr_h2{display:block}
strong.lr_h2 a{float:right;font-weight:normal}

.lr_p{font-size:16px;color:#333;text-align:center;padding-top:10px}
.lr_p a{padding-right:20px;background:url(http://img01.51jobcdn.com/im/2016/temp/icon_go.png) right center no-repeat}

.lr_e{color:#333;margin-bottom:20px}
.lr_e label{display:block;line-height:20px;font-size:14px;font-weight:bold;color:#333;margin-bottom:10px}
.lr_e .txt,.lr_e .txt .ef{height:40px;line-height:40px}
.lr_e .txt .ef{width:401px;padding-right:37px}
.lr_e .txt.pointer{padding-right:0}
.lr_e .txt.pointer2 .ef{width:310px;padding-right:128px}
.lr_e .m10{display:inline;margin-left:10px}
.lr_e .icon_ok{position:absolute;width:36px;height:40px;text-align:center;top:0;right:0;background:url(http://img01.51jobcdn.com/im/2016/temp/icon_ok.png) center no-repeat}
.lr_e .txt.pointer2 .hint{position:absolute;font-size:12px;color:#999;top:0;right:14px}
.lr_e .ac{margin-left:20px;cursor:pointer}
.lr_e .p_but{width:108px;height:40px;line-height:40px;margin-right:0}
.lr_e.e2 .txt{float:left;width:318px}
.lr_e.e2 .txt .ef{width:281px;padding-right:37px}
.lr_e.e2 .txt.pointer2 .ef{width:218px;padding-right:100px}
.lr_e .ic{top:11px}
.en .lr_e .txt.pointer2 .ef{width:270px;padding-right:168px}
.en .lr_e.e2 .txt.pointer2 .ef{width:198px;padding-right:120px}

.lr_fb{width:630px;margin:80px auto}
.lr_fb .lr_b{position:relative;width:520px;line-height:30px;color:#666;margin-bottom:20px;padding-left:110px}
.lr_fb .lr_b label{position:absolute;width:60px;color:#333;text-align:right;text-align-last:right;top:0;left:10px}
.lr_fb .lr_b i{position:absolute;height:18px;font-style:normal;top:2px;left:0;color:#ff6000}
.lr_fb .lr_b textarea{display:block;#display:initial;width:508px;min-height:130px;overflow:auto;resize:none;padding:5px;background-color:#fff;border:1px solid #ddd}
.lr_fb .btnbox{text-align:center;padding:20px 0}
.lr_fb .p_but{width:110px;height:40px;line-height:40px;font-size:18px}
.lr_fb .err{float:none;line-height:20px}

.lrcab{width:440px;line-height:24px;margin:0 auto}
.lrcab .btnbox{text-align:center;padding:20px 0}
.lrcab .btnbox .p_but{width:438px;height:40px;line-height:40px;font-size:18px;margin:0}
.lrcab .lr_tr{color:#666;text-align:right;margin-bottom:20px}

.lr_tc{text-align:center}
.lr_tc .lr_img{padding:80px 0 40px 0}
.lr_tc .ltit{font-size:20px;font-weight:bold;color:#65bb00;margin-bottom:20px}
.lr_tc .lmsg{line-height:28px;color:#333;margin-bottom:20px}

.lr_step{width:760px;height:34px;line-height:34px;font-size:16px;color:#666;margin:0 auto;padding:40px 0;background:url(http://img01.51jobcdn.com/im/2016/temp/bg_gray.png) center no-repeat}
.lr_step li{float:left;padding-left:110px}
.lr_step li.on{color:#ff6000}
.lr_step .step1{width:152px}
.lr_step .step2{width:156px;margin-left:-15px}
.lr_step .step3{width:152px;margin-left:-15px}
.lr_step .step1.on{background:url(http://img01.51jobcdn.com/im/2016/temp/bg_step1.png) no-repeat}
.lr_step .step2.on{background:url(http://img01.51jobcdn.com/im/2016/temp/bg_step2.png) no-repeat}
.lr_step .step3.on{background:url(http://img01.51jobcdn.com/im/2016/temp/bg_step3.png) no-repeat}
.en .lr_step{background-image:url(http://img01.51jobcdn.com/im/2016/temp/bg_gray_en.png)}
.en .lr_step li{float:left;padding-left:80px}
.en .lr_step .step1,.en .lr_step .step3{width:182px}
.en .lr_step .step2{width:186px}
.en .lr_step .step1.on{background:url(http://img01.51jobcdn.com/im/2016/temp/bg_step1_en.png) no-repeat}
.en .lr_step .step2.on{background:url(http://img01.51jobcdn.com/im/2016/temp/bg_step2_en.png) no-repeat}
.en .lr_step .step3.on{background:url(http://img01.51jobcdn.com/im/2016/temp/bg_step3_en.png) no-repeat}

.lr_pop{position:relative;width:420px;height:274px;font-size:16px;color:#666;text-align:center;background-color:#fff}
.lr_pop .lr_close{position:absolute;width:16px;height:16px;top:16px;right:20px;background:url(http://img01.51jobcdn.com/im/2016/pop/icon_close2.png) no-repeat;cursor:pointer}
.lr_pop .lr_img{padding:30px 0 20px}
.lr_pop .mb20{margin-bottom:20px}
.lr_pop .p20{padding:20px 0}
.lr_pop .btnbox{text-align:center;padding:20px}
.lr_pop .p_but{width:220px;height:40px;line-height:40px;font-size:18px}

.lr_d .h{line-height:36px;font-weight:bold;color:#333;padding:0 20px;background-color:#f7f7f7;border-bottom:1px dotted #ddd}
.lr_d .p{line-height:28px;color:#666;padding:20px 20px 60px}

.lr_o{color:#333;padding:0 20px}

.fb_cked{height:254px;font-size:22px;color:#ea5800;text-align:center;margin:220px 0 0}
.fb_cked img{position:relative;vertical-align:middle;top:-2px;margin-right:24px}
.fb_cked a{font-size:14px;color:#ea5800;text-decoration:underline;margin-left:20px}

/*±êÌâ*/
.tit{line-height:20px;font-size:20px;color:#333;padding:30px 0 40px}
.tit span{padding-left:20px;border-left:3px solid #ff6100}

.pro{height:30px;line-height:30px;background-color:#fff2e3}
.pro .msg{width:1002px;font-size:12px;color:#ff6000;text-indent:36px;margin:0 auto;background:url(http://img01.51jobcdn.com/im/2016/temp/icon_pro.png) -18px 0 no-repeat;}
.pro .msg em{float:right;width:15px;height:30px;cursor:pointer;margin-right:10px;background:url(http://img01.51jobcdn.com/im/2016/temp/icon_pro.png) 0 0 no-repeat}

/*ÈÕÀúÑùÊ½µ÷Õû*/
.Fm .flbox{width:438px;top:40px}
.Fm .fin{width:378px;*width:377px}
.Fm .fin.f2,.Fm .fin.f3{width:438px;*width:437px}

/*¹ú¼Ê¶ÌÐÅÍ¨µÀ*/
.inter.iphone a,.inter.user a{position:absolute;width:12px;line-height:14px;font-size:12px;color:#999;top:-10px;right:-22px;padding:30px 4px 5px;background:url(http://img01.51jobcdn.com/im/2017/phone/home/icon_iphone.png) center 10px #f7f7f7 no-repeat;border:1px solid #ddd}
.inter.iphone a:hover,.inter.user a:hover{color:#ff6000;background-color:#fff2e3;border-color:#ff9f20}
.inter.iphone a:hover{background-image:url(http://img01.51jobcdn.com/im/2017/phone/home/icon_iphone-hover.png)}
.inter.user a{background-image:url(http://img01.51jobcdn.com/im/2017/phone/home/icon_user.png)}
.inter.user a:hover{background-image:url(http://img01.51jobcdn.com/im/2017/phone/home/icon_user-hover.png)}
.en .inter.iphone span,.en .inter.user span{display:block;margin-left:-1px}
.en .inter.iphone span{height:214px;background:url(http://img01.51jobcdn.com/im/2017/phone/home/icon_iphone_bg.png) no-repeat}
.en .inter.iphone a:hover span{background-image:url(http://img01.51jobcdn.com/im/2017/phone/home/icon_iphone_hover_bg.png)}
.en .inter.user span{height:138px;background:url(http://img01.51jobcdn.com/im/2017/phone/home/icon_user_bg.png) no-repeat}
.en .inter.user a:hover span{background-image:url(http://img01.51jobcdn.com/im/2017/phone/home/icon_user_hover_bg.png)}
.coun{position:relative;z-index:10}
.coun .txt .in{height:40px;cursor:pointer}
.coun .txt .ef{float:right;width:275px}
.country-list{position:relative;float:left;width:126px;height:40px;z-index:2}
.country-list input{float:left;width:63px;height:22px;text-indent:6px;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;pointer-events:none;margin-top:9px;background-color:#fff;border:0 none}
.country-list input::-webkit-input-placeholder{color:#333}
.country-list input:-moz-placeholder{color:#333}
.country-list input:-ms-input-placeholder{color:#333}
.country-list input.nu{width:44px;padding-right:18px;text-align:right;text-indent:0;background:url(http://img01.51jobcdn.com/im/2016/icon/arrow.png) 44px 3px no-repeat;border-right:1px solid #ddd}
.country-list ul{width:126px;height:240px;overflow:auto;margin:1px 0 0 -1px;background-color:#fff;border:1px solid #ddd;border-top:0 none}
.country-list ul li{height:30px;line-height:30px;font-size:12px;color:#666;padding-right:6px;cursor:pointer}
.country-list ul li:hover{background-color:#f5f5f5}
.country-list ul li.on{color:#fff;background-color:#fe9f1f}
.country-list ul li i,.country-list ul li span{float:left;width:60%;height:30px}
.country-list ul li span{text-indent:6px;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden}
.country-list ul li i{width:40%;font-style:normal;text-align:right}

.tabox{width:760px;text-align:center;margin:-20px auto 40px;border-bottom:1px solid #ddd}
.tabox span{display:inline-block;width:120px;height:42px;line-height:42px;font-size:16px;font-weight:bold;color:#999;text-align:center;margin-bottom:-1px;border-bottom:2px solid transparent}
.tabox span.on{color:#ff6000;border-bottom-color:#ff6000}



@media only screen and (max-width:1050px) {

.zc_top{ width:100%; height:99px; background:url(../images/zctopbk.png) repeat-x left top;}
.zc_top .zctop_con{ width:98%; height:99px; margin:0 auto;}

.zc_mid{ width:98%; height:auto; overflow:hidden; margin:18px auto; background:#fff; border-radius:15px; -moz-border-radius:15px; -ms-border-radius:15px; -o-border-radius:15px; -webkit-border-radius:15px;}
.zc_con1{ width:560px; height:auto; overflow:hidden; margin:40px auto;}
.zc_con2{ width:610px; height:auto; overflow:hidden; margin:36px auto 50px auto;}
.zc_con4{width:640px; height:auto; overflow:hidden; margin:36px auto}

.zc_footer{ width:100%; height:auto; overflow:hidden; background:#fff;}
.zc_footer1{ width:100%; height:auto; overflow:hidden; margin:0 auto; padding:20px 0 20px 0;}
.zc_tel{ width:16%; height:auto; overflow:hidden; float:left; display:inline; margin-left:2%;}
.zc_tel img{ display:block; margin:5px auto; max-width:50%;}
.zc_tel p{ font:normal 13px/28px "微软雅黑"; color:#969494;}
.zc_tel p span{ font:bold 15px/28px "微软雅黑"; color:#ac0505;}
.zc_tel p.zxsj{ font:normal 12px/28px "微软雅黑"; color:#969494;}

.zc_link{ width:13%; height:auto; overflow:hidden; float:left; display:inline; margin-left:3%; border-right:1px solid #e4e2e2;}
.zc_link1{ border:none;}
ul.ul04{ width:100%; height:auto; overflow:hidden;}
ul.ul04 li{ width:100%; height:28px; overflow:hidden; font:normal 13px/28px "微软雅黑"; color:#4e4d4d;}
ul.ul04 li.ul04li_tit{ font:bold 14px/28px "微软雅黑"; color:#4d4c4c;}

.zc_ewm{ width:14%; height:auto; overflow:hidden; float:right; display:inline; margin-right:2%; font:normal 13px/30px "微软雅黑"; color:#5b5b5b; text-align:center;}
.zc_ewm img{ width:100%; height:suto; display:block;}

.zc_footer2{ background:#5d5d5d; padding:5px 0;}
.zc_footer2 p{font:normal 13px/28px "微软雅黑"; color:#fff; text-align:center;}




}






@media only screen and (max-width: 640px) {
.zc_top{ width:100%; height:60px; background:url(../images/zctopbk.png) repeat-x left bottom; padding-bottom:20px;}
.zc_top .zctop_con{ width:98%; height:60px; margin:0 auto;}

.zc_top .zctop_con .logo{ width:auto; height:45px; float:left; display:inline; margin:15px 0 0 0;}
.zc_top .zctop_con .logo img{ width:auto; height:40px; vertical-align:middle;}
.zc_top .zctop_con .logo span{ width:auto; height:40px; display:inline-block; vertical-align:middle; font:normal 18px/40px "微软雅黑"; color:#837e77; border-left:1px solid #e9eced; padding-left:15px; margin-left:15px;}
.zc_top .zctop_con .zctop_r{ float:right; display:inline; margin-top:15px;}
.zc_top .zctop_con .zctop_r a{ width:auto; height:40px; display:inline-block; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; background:#db3e42 url(../images/zc_ico01.png) no-repeat 10px center; font:normal 15px/40px "微软雅黑"; color:#fff; text-indent:35px; padding-right:10px; }
.zc_top .zctop_con .zctop_r a:hover{ background:#dc171c url(../images/zc_ico01.png) no-repeat 10px center;}


.zc_mid{ width:98%; height:auto; overflow:hidden; margin:10px auto; background:#fff; border-radius:15px; -moz-border-radius:15px; -ms-border-radius:15px; -o-border-radius:15px; -webkit-border-radius:15px;}

.zc_tit{ width:100%; height:60px; border-bottom:1px solid #efefef; text-align:center;}
.zc_tit a{ width:auto; height:60px; display:inline-block; text-align:center; padding:0 1px; font:normal 16px/60px "微软雅黑"; color:#6e6d6d; margin:0 0px; vertical-align:middle;}
.zc_tit a span.zc1{ width:27px; height:27px; background:url(../images/zc_ico02.png) no-repeat center top; display:block; margin:10px auto 5px auto;}
.zc_tit a span.zc2{ width:27px; height:27px; background:url(../images/zc_ico03.png) no-repeat center top; display:block; margin:10px auto 5px auto;}
.zc_tit a span.zc3{ width:27px; height:27px; background:url(../images/zc_ico11.png) no-repeat center top; display:block; margin:10px auto 5px auto;}
.zc_tit a.zctiton{ color:#db3e42; border-bottom:2px solid #db3e42;}
.zc_tit a.zctiton span.zc1{ background:url(../images/zc_ico02on.png) no-repeat center top; }
.zc_tit a.zctiton span.zc2{  background:url(../images/zc_ico03on.png) no-repeat center top; }
.zc_tit a.zctiton span.zc3{  background:url(../images/zc_ico11on.png) no-repeat center top; }
.zc_tit span.zc_step{ width:20px; height:77px; background:url(../images/zc_step.png) no-repeat center center; display:inline-block; vertical-align:middle;}
.zc_xq{ width:100%;}
.zccon1_l{ width:100%; height:auto; overflow:hidden; float:left; display:inline; border-right:none;}
ul.ul05{ width:100%; height:auto;}
ul.ul05 li{ width:100%; height:70px; border-bottom:1px solid #e5e5e5;}
ul.ul05 li span.dh{ width:105px; height:66px; display:inline-block; position:relative; }
ul.ul05 li span.dh a{ width:105px; height:66px; display:block; background:url(../images/zc_ico10.png) no-repeat right center; font:normal 14px/66px "微软雅黑"; color:#837e77;text-indent:11px;}
ul.ul05 li span.dh ul.dh_list{ width:105px; height:auto; position:absolute; left:0px; top:70px; border:1px solid #e5e5e5; background:#fff;}
ul.ul05 li span.dh ul.dh_list li{ width:100%; height:30px; border-bottom:1px solid #e5e5e5;}
ul.ul05 li span.dh ul.dh_list li a{width:100%; height:30px; border:none; background:none; font:normal 14px/30px "微软雅黑";}
ul.ul05 li span.dh ul.dh_list li a:hover{ color:#af0707;}
ul.ul05 li input.text04{ width:180px; height:66px; text-indent:10px; font:normal 14px/66px "微软雅黑"; color:#666; border:none;}
ul.ul05 li input.text05{ width:180px; height:66px; text-indent:10px; font:normal 14px/66px "微软雅黑"; color:#666; border:none;}
ul.ul05 li img.yzm{ vertical-align:middle; float:right; display:inline; margin-top:10px;}
ul.ul05 li input.but02{ width:auto; height:66px; float:right; display:inline;  font:normal 14px/66px "微软雅黑"; color:#db3e42; border:none; background:none; cursor:pointer;}
ul.ul05 li.li02{ border:none; font:normal 15px/50px "微软雅黑"; color:#6d6d6d;}
ul.ul05 li.li02 a{color:#db3e42;}
ul.ul05 li.li02 a:hover{ text-decoration:underline;}
ul.ul05 li a.xz{ width:45%; height:40px; display:inline-block; border:1px solid #DEE6E9; text-align:center; font:normal 14px/40px "微软雅黑"; color:#929292; margin-top:20px;}
ul.ul05 li a.xz:hover{ border:1px solid #dc4145; text-decoration:none;}
ul.ul05 li a.xzon{ border:1px solid #dc4145;}
ul.ul05 li.li02 a.checkbox{ width:14px; height:14px; background:url(../images/zc_ico04.png) no-repeat center top; display:inline-block; vertical-align:middle; margin:0 5px 3px 0;}
ul.ul05 li.li02 a.checkboxon{background:url(../images/zc_ico04on.png) no-repeat center top;}
ul.ul05 li.li02 input.but03{ width:100%; height:48px; display:block; background:#af0707; border:none; text-align:center; font:normal 16px/48px "微软雅黑"; color:#fff; cursor:pointer;}
ul.ul05 li.li02 input.but03:hover{  background:#cc0000;}


ul.ul06{ width:100%; height:auto;}
ul.ul06 li{ width:100%; height:80px;}
ul.ul06 li.yzm{ width:100%; height:100px;}
ul.ul06 li input.text06{ width:100%; height:46px; text-indent:10px; background:#F5F5F5; font:normal 14px/46px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px;}
ul.ul06 li input.text07{ width:195px; height:46px; text-indent:10px; background:#F5F5F5; font:normal 14px/46px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px;}
ul.ul06 li img.yzm{ width:100px; height:37px; vertical-align:middle; margin-left:15px;}
ul.ul06 li input.but02{ width:auto; height:66px; float:right; display:inline;  font:normal 14px/66px "微软雅黑"; color:#db3e42; border:none; background:none; cursor:pointer;}
ul.ul06 li.li03{ border:none; font:normal 12px/50px "微软雅黑"; color:#6d6d6d; height:50px;}

ul.ul06 li a.xz{ width:45%; height:40px; display:inline-block; border:1px solid #DEE6E9; text-align:center; font:normal 14px/40px "微软雅黑"; color:#929292; }
ul.ul06 li a.xz:hover{ border:1px solid #dc4145; text-decoration:none;}
ul.ul06 li a.xzon{ border:1px solid #dc4145;}
ul.ul06 li.li03 a.checkbox{ width:14px; height:14px; background:url(../images/zc_ico04.png) no-repeat center top; display:inline-block; vertical-align:middle; margin:0 5px 3px 0;}
ul.ul06 li.li03 a.checkboxon{background:url(../images/zc_ico04on.png) no-repeat center top;}
ul.ul06 li.li03 input.but03{ width:100%; height:48px; display:block; background:#af0707; border:none; text-align:center; font:normal 16px/48px "微软雅黑"; color:#fff; cursor:pointer;}
ul.ul06 li.li03 input.but03:hover{  background:#cc0000;}



.zccon1_r{ width:100%; height:auto; overflow:hidden; float:right; display:inline;}
.zccon1_r p{ font:normal 16px/30px "微软雅黑"; color:#767676; margin-bottom:10px; margin-top:20px;}

ul.ul07{ width:100%; height:auto;}
ul.ul07 li{ width:100%; height:auto; overflow:hidden; position:relative; padding-left:20px; box-sizing:border-box; font:normal 14px/28px "微软雅黑"; color:#808080; margin-bottom:25px;}
ul.ul07 li span.bt{ position:absolute; left:0; top:0px; font:normal 16px/46px "微软雅黑"; color:#ff1515;}
ul.ul07 li input.text08{ width:100%; height:46px; text-indent:10px; background:#F5F5F5; font:normal 14px/46px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; box-sizing:border-box; border:1px solid #f5f5f5;}
ul.ul07 li input.text08:hover{ border:1px solid #f07878;}
ul.ul07 li input.text09{ width:312px; height:46px; text-indent:10px; background:#F5F5F5; font:normal 14px/46px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; display:block; box-sizing:border-box; border:1px solid #f5f5f5;}
ul.ul07 li input.text09:hover{ border:1px solid #f07878;}
ul.ul07 li a.but05{width:180px; height:50px; display:inline-block; background:#af0707; border:none; text-align:center; font:normal 16px/50px "微软雅黑"; color:#fff; cursor:pointer; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; }
ul.ul07 li a.but05:hover{  background:#cc0000;}
ul.ul07 li .sc{width:100%; height:auto; overflow:hidden; text-align:center; padding:10px 0; background:#F5F5F5; font:normal 13px/28px "微软雅黑"; color:#909090; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; margin-bottom:10px;}
ul.ul07 li .sc a{ display:block;  color:#909090; }
ul.ul07 li .sc a p.sc_tit{ font:normal 14px/30px "微软雅黑"; color:#db3e42;}
ul.ul07 li .sc a p.sc_tit img{ vertical-align:middle; margin:0 5px 3px 0;}



.yxyz_con1{ text-align:center; font:normal 18px/30px "微软雅黑"; color:#393939;}
.yxyz_con1 span{ font:normal 15px/30px "微软雅黑"; color:#747474;}
.yxyz_con1 img{ display:block; margin:10px auto;}


.yxyz_con2{ margin-top:30px;}
.yxyz_con2 p{ font:normal 13px/30px "微软雅黑"; color:#979797;}
.yxyz_con2 p a{ color:#af0707;}
.yxyz_con2 p a:hover{ text-decoration:underline;}
.yxyz_con2 p.yxyz_tit{ color:#555; font:normal 15px/35px "微软雅黑";}


.zc_tit1{ width:100%; height:78px; border-bottom:1px solid #efefef; text-align:center;}
.zc_tit1 span{ width:auto; height:77px; display:inline-block; text-align:center; padding:0 10px; font:bold 20px/77px "微软雅黑"; color:#db3e42; border-bottom:2px solid #db3e42;}
.zc_tit1 span img{ vertical-align:middle; margin:0 10px 3px 0;}

table.tab02{ width:100%; height:auto; overflow:hidden;}
table.tab02 tr td{ font:normal 13px/38px "微软雅黑"; color:#616161; padding:10px 0; }
table.tab02 tr td.td01{ text-align:right; padding-right:5px;}
table.tab02 tr td.td01 span.bt1{ color:#e00202; margin-right:5px;}
table.tab02 tr td input.text10{ width:80%; height:38px; text-indent:10px; background:#F5F5F5; font:normal 15px/38px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; display:inline-block; border:1px solid #f5f5f5;}
table.tab02 tr td input.text10:hover{ border:1px solid #f07878;}
table.tab02 tr td select.select1{ width:80%; height:38px; text-indent:10px; background:#F5F5F5; font:normal 15px/38px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; display:block;  border:1px solid #f5f5f5;}
table.tab02 tr td select.select1:hover{ border:1px solid #f07878;}

table.tab02 tr td input.text11{ width:80%; height:38px; text-indent:10px; background:#F5F5F5 url(../images/zc_ico15.png) no-repeat 310px center; font:normal 15px/38px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; display:block;  border:1px solid #f5f5f5;}
table.tab02 tr td input.text11:hover{ border:1px solid #f07878;}

table.tab02 tr td select.select2{ width:43%; height:38px; text-indent:10px; background:#F5F5F5; font:normal 15px/38px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; display:inline-block; margin-right:10px; margin-bottom:2px;  border:1px solid #f5f5f5;}
table.tab02 tr td select.select2:hover{ border:1px solid #f07878;}

table.tab02 tr td input.text12{ width:43%; height:38px; text-indent:10px; background:#F5F5F5 url(../images/zc_ico15.png) no-repeat 310px center; font:normal 15px/38px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; display:inline-block; margin-right:10px; margin-bottom:2px; border:1px solid #f5f5f5;}
table.tab02 tr td input.text12:hover{ border:1px solid #f07878;}


table.tab02 tr td textarea{ width:100%; height:110px; text-indent:10px; background:#F5F5F5; font:normal 15px/38px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; display:block; border:1px solid #f5f5f5;}
table.tab02 tr td textarea:hover{ border:1px solid #f07878;}

table.tab02 tr td input.text13{ width:32%; height:38px; text-indent:10px; background:#F5F5F5; font:normal 15px/38px "微软雅黑"; color:#666; border:none; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; display:inline-block; vertical-align:middle; box-sizing:border-box; border:1px solid #f5f5f5;}
table.tab02 tr td input.text13:hover{ border:1px solid #f07878;}
table.tab02 tr td img.yzm{ width:78px; height:38px; vertical-align:middle; margin-left:0px;}
table.tab02 tr td a{ color:#f84d18; font:normal 12px/38px "微软雅黑"; text-decoration:underline; margin-left:3px;}
table.tab02 tr td a:hover{ color:#db3e42;}
table.tab02 tr td span.ts{ color:#bcbcbc; font:normal 12px/38px "微软雅黑"; margin-left:0; display:block;}
table.tab02 tr td input.flie1{ width:80%;  }

.zc_tit2{ width:100%; height:40px; border-bottom:1px solid #FED6D4; font:normal 13px/40px "微软雅黑"; color:#fa1f1f; text-indent:2px;}

a.but06{width:180px; height:50px; display:block; background:#af0707; border:none; text-align:center; font:normal 20px/50px "微软雅黑"; color:#fff; cursor:pointer; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; margin:20px auto;}
a.but06:hover{  background:#cc0000;}


.zc_con1{ width:98%; height:auto; overflow:hidden; margin:20px auto;}
.zc_con2{ width:98%; height:auto; overflow:hidden; margin:20px auto;}
.zc_con4{width:98%; height:auto; overflow:hidden; margin:20px auto}


.zc_footer{ width:100%; height:auto; overflow:hidden; background:#fff;}
.zc_footer1{ width:100%; height:auto; overflow:hidden; margin:0 auto; padding:20px 0 20px 0;}
.zc_tel{ width:100%; height:auto; overflow:hidden; float:left; display:inline; margin-left:2%;}
.zc_tel img{ display:block; margin:5px 0 5px 30px; max-width:50%;}
.zc_tel p{ font:normal 13px/28px "微软雅黑"; color:#969494;}
.zc_tel p span{ font:bold 15px/28px "微软雅黑"; color:#ac0505;}
.zc_tel p.zxsj{ font:normal 12px/28px "微软雅黑"; color:#969494;}

.zc_link{ width:21%; height:auto; overflow:hidden; float:left; display:inline; margin-left:3%; border-right:1px solid #e4e2e2;}
.zc_link1{ border:none;}
ul.ul04{ width:100%; height:auto; overflow:hidden;}
ul.ul04 li{ width:100%; height:28px; overflow:hidden; font:normal 13px/28px "微软雅黑"; color:#4e4d4d;}
ul.ul04 li.ul04li_tit{ font:bold 14px/28px "微软雅黑"; color:#4d4c4c;}

.zc_ewm{ width:96%; height:auto; overflow:hidden; float:right; display:inline; margin-right:2%; font:normal 13px/30px "微软雅黑"; color:#5b5b5b; text-align:left; margin-top:10px; margin-left:2%;}
.zc_ewm img{ width:auto; height:auto; display:block; max-width:50%; }

.zc_footer2{ background:#5d5d5d; padding:5px 0;}
.zc_footer2 p{font:normal 13px/28px "微软雅黑"; color:#fff; text-align:center;}
.zc_top .zctop_con .topcon_r{float:right;display:inline;margin-top:38px;display:none;}
ul.ul06 li span.ts{ width:100%; height:40px; position: absolute; padding-left:10px;font: normal 12px/40px "微软雅黑";color: #db3e42;}

}


@media only screen and (max-width: 560px) {

.zc_top{ width:100%; height:60px; background:url(../images/zctopbk.png) repeat-x left bottom; padding-bottom:20px;}
.zc_top .zctop_con{ width:98%; height:60px; margin:0 auto;}

.zc_top .zctop_con .logo{ width:auto; height:45px; float:left; display:inline; margin:15px 0 0 0;}
.zc_top .zctop_con .logo img{ width:auto; height:30px; vertical-align:middle;}
.zc_top .zctop_con .logo span{ display:none;}
.zc_top .zctop_con .zctop_r{ float:right; display:inline; margin-top:15px;}
.zc_top .zctop_con .zctop_r a{ width:auto; height:40px; display:inline-block; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; background:#db3e42 url(../images/zc_ico01.png) no-repeat 5px center; font:normal 13px/40px "微软雅黑"; color:#fff; text-indent:35px; padding-right:5px; }
.zc_top .zctop_con .zctop_r a:hover{ background:#dc171c url(../images/zc_ico01.png) no-repeat 5px center;}


.zc_mid{ width:98%; height:auto; overflow:hidden; margin:18px auto; background:#fff; border-radius:15px; -moz-border-radius:15px; -ms-border-radius:15px; -o-border-radius:15px; -webkit-border-radius:15px;}



.zc_con1{ width:98%; height:auto; overflow:hidden; margin:20px auto;}
.zc_con2{ width:98%; height:auto; overflow:hidden; margin:20px auto;}
.zc_con3{ width:98%; height:auto; overflow:hidden; margin:20px auto;}
.zc_con4{width:98%; height:auto; overflow:hidden; margin:20px auto}


.zccon1_l{ width:100%; height:auto; overflow:hidden; float:left; display:inline; border-right:none;}
.zc_xq{ width:100%; height:auto; overflow:hidden;}

.zc_top .zctop_con .topcon_r{float:right;display:inline;margin-top:38px;display:none;}





}


/*0622*/

.zc_mid1{ width:1002px; height:auto; overflow:hidden; background:url(../images/bg_register.png) no-repeat center top; margin:20px auto;}
.zcmid1_con{ width:761px; height:auto; display:block; overflow:hidden; background:#fff; margin:0 auto; border-left:1px solid #ddd; border-right:1px solid #ddd; border-bottom:1px solid #ddd; position:relative;}
.by{ width:22px; height:12px; background:url(../images/by.png) no-repeat; position:absolute; left:229px; bottom:-2px; z-index:10; border-bottom:1px solid #fff;}
.zcmid1_l{ width:240px; height:auto; overflow:hidden; float:left; display:inline; padding:50px 0 0 0; border-top:10px solid #af0707; }
.zcmid1_r{ width:519px; height:auto; overflow:hidden; float:right; display:inline; padding:0 0 32px; border-top:10px solid #e62929; border-left:1px dashed #ddd; }

ul.ul08{ width:100%; height:auto; overflow:hidden; }
ul.ul08 li{ width:100%; height:auto; overflow:hidden; margin-bottom:60px; position:relative; padding-left:80px; box-sizing:border-box; color:#999; font:normal 12px/26px "微软雅黑";}
ul.ul08 li span.zcico01{position: absolute;width: 32px;height: 32px; display:block; top: 50%;left:40px; margin-top: -16px; background:url(../images/icon_lr.png) no-repeat 0 0; }
ul.ul08 li span.zcico02{position: absolute;width: 32px;height: 32px; display:block; top: 50%;left:40px; margin-top: -16px; background:url(../images/icon_lr.png) no-repeat 0 -35px; }
ul.ul08 li span.zcico03{position: absolute;width: 32px;height: 32px; display:block; top: 50%;left:40px; margin-top: -16px; background:url(../images/icon_lr.png) no-repeat 0 -70px; }
ul.ul08 li span.zcico04{position: absolute;width: 32px;height: 32px; display:block; top: 50%;left:40px; margin-top: -16px; background:url(../images/icon_lr.png) no-repeat 0 -105px; }
ul.ul08 li span.sz{ color:#666; font:normal 14px/26px "微软雅黑"; display:block;}

.zcmid1_tit{ width:80%; height:auto; overflow:hidden; margin:0 auto; padding:30px 0;}
.zcmid1_tit span.zctit_l{ float:left; display:inline; font:normal 24px/30px "微软雅黑"; color:#da0a0a;}
.zcmid1_tit a.zcfs{ font:normal 16px/30px "微软雅黑"; color:#666; float:right; display:inline;}
.zcmid1_tit a.zcfs:hover{color:#ff6000;}
ul.ul09{ width:80%; height:auto; margin:0 auto;}
ul.ul09 li{ width:100%; height:auto; margin-top:10px; font:normal 14px/30px "微软雅黑"; color:#666;}
ul.ul09 li .zc_bt{ width:100%; height:30px; position:relative; font:bold 14px/30px "微软雅黑"; color:#333;}
ul.ul09 li .zc_bt span.ts{ position:absolute; right:0; top:0; background:url(../images/error.png) no-repeat left center; padding-left:18px; font:normal 12px/30px "微软雅黑"; color:#db3e42;}
ul.ul09 li input.text14{ width:100%; height:40px; border:1px solid #ddd; font:normal 14px/40px "微软雅黑"; color:#666; text-indent:10px;}
ul.ul09 li input.text14:hover{ border:1px solid #ff6000;}
ul.ul09 li input.text15{ width:calc(100% - 110px); height:40px; border:1px solid #ddd; font:normal 14px/40px "微软雅黑"; color:#666; text-indent:10px;}
ul.ul09 li input.text15:hover{ border:1px solid #ff6000;}
ul.ul09 li img.yzm{ width:100px; height:40px; vertical-align:middle; float:right; display:inline;}
ul.ul09 li input.but07{ width:100px; height:40px; vertical-align:middle; float:right; display:inline; background:#ffe8cd; border:1px solid #ffb865; color:#ff6000; cursor:pointer; float:right; display:inline;}
ul.ul09 li input.but07:hover{ background:#f9d9b3;}
ul.ul09 li a{ color:#00457d;}
ul.ul09 li a:hover{ color:#f60;}
ul.ul09 li a.checkbox{ width:14px; height:14px; background:url(../images/zc_ico04.png) no-repeat center top; display:inline-block; vertical-align:middle; margin:0 5px 3px 0;}
ul.ul09 li a.checkboxon{background:url(../images/zc_ico04on.png) no-repeat center top;}

ul.ul09 li input.but08{ width:100%; height:40px; display:block; background:#af0707; border:none; color:#fff; cursor:pointer; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; margin-bottom:30px;}
ul.ul09 li input.but08:hover{ background:#d60303;}
ul.ul09 li.li04{ text-align:center; font:normal 16px/40px "微软雅黑"; color:#333;}
ul.ul09 li.li04 a{ color:#f60; background:url(../images/icon_go.png) no-repeat right center; padding-right:18px;}
ul.ul09 li.li04 a:hover{ text-decoration:underline;}


@media only screen and (max-width: 1002px) {

.zc_mid1{ width:100%; height:auto; overflow:hidden; background:url(../images/bg_register.png) no-repeat center top; background-size:contain; margin:20px auto;}
.zcmid1_con{ width:80%; height:auto; display:block; overflow:hidden; background:#fff; margin:0 auto; border-left:1px solid #ddd; border-right:1px solid #ddd; border-bottom:1px solid #ddd; position:relative;}
.by{ width:22px; height:12px; background:url(../images/by.png) no-repeat; position:absolute; left:30%; margin-left:-11px; bottom:-2px; z-index:10; border-bottom:1px solid #fff;}
.zcmid1_l{ width:30%; height:auto; overflow:hidden; float:left; display:inline; padding:50px 0 0 0; border-top:10px solid #a50404; }
.zcmid1_r{ width:70%; height:auto; overflow:hidden; float:left; display:inline; padding:0 0 32px; border-top:10px solid #e62929; border-left:1px dashed #ddd; box-sizing:border-box; }

ul.ul08{ width:100%; height:auto; overflow:hidden; }
ul.ul08 li{ width:100%; height:auto; overflow:hidden; margin-bottom:60px; position:relative; padding-left:60px; box-sizing:border-box; color:#999; font:normal 12px/26px "微软雅黑";}
ul.ul08 li span.zcico01{position: absolute;width: 32px;height: 32px; display:block; top: 50%; left:20px; margin-top: -16px; background:url(../images/icon_lr.png) no-repeat 0 0; }
ul.ul08 li span.zcico02{position: absolute;width: 32px;height: 32px; display:block; top: 50%; left:20px; margin-top: -16px; background:url(../images/icon_lr.png) no-repeat 0 -35px; }
ul.ul08 li span.zcico03{position: absolute;width: 32px;height: 32px; display:block; top: 50%; left:20px; margin-top: -16px; background:url(../images/icon_lr.png) no-repeat 0 -70px; }
ul.ul08 li span.zcico04{position: absolute;width: 32px;height: 32px; display:block; top: 50%; left:20px; margin-top: -16px; background:url(../images/icon_lr.png) no-repeat 0 -105px; }
ul.ul08 li span.sz{ color:#666; font:normal 14px/26px "微软雅黑"; display:block;}

.zcmid1_tit{ width:90%; height:auto; overflow:hidden; margin:0 auto; padding:30px 0;}
ul.ul09{ width:90%; height:auto; margin:0 auto;}
ul.ul09 li.li04{ text-align:center; font:normal 13px/40px "微软雅黑"; color:#333;}
}


@media only screen and (max-width: 760px) {

.zc_mid1{ width:100%; height:auto; overflow:hidden; background:url(../images/bg_register.png) no-repeat center top; background-size:contain; margin:20px auto;}
.zcmid1_con{ width:90%; height:auto; display:block; overflow:hidden; background:#fff; margin:0 auto; border-left:1px solid #ddd; border-right:1px solid #ddd; border-bottom:1px solid #ddd; position:relative;}
.by{ width:22px; height:12px; background:url(../images/by.png) no-repeat; position:absolute; left:30%; margin-left:-11px; bottom:-2px; z-index:10; border-bottom:1px solid #fff; display:none;}
.zcmid1_l{ width:100%; height:auto; overflow:hidden; float:left; display:inline; padding:20px 0 0 0; border-top:10px solid #af0707; }
.zcmid1_r{ width:100%; height:auto; overflow:hidden; float:left; display:inline; padding:0 0 32px; border-top:10px solid #e62929; border-left:none; box-sizing:border-box; }

ul.ul08{ width:100%; height:auto; overflow:hidden; }
ul.ul08 li{ width:100%; height:auto; overflow:hidden; margin-bottom:20px; position:relative; padding-left:60px; box-sizing:border-box; color:#999; font:normal 12px/26px "微软雅黑";}
ul.ul08 li span.zcico01{position: absolute;width: 32px;height: 32px; display:block; top: 50%; left:20px; margin-top: -16px; background:url(../images/icon_lr.png) no-repeat 0 0; }
ul.ul08 li span.zcico02{position: absolute;width: 32px;height: 32px; display:block; top: 50%; left:20px; margin-top: -16px; background:url(../images/icon_lr.png) no-repeat 0 -35px; }
ul.ul08 li span.zcico03{position: absolute;width: 32px;height: 32px; display:block; top: 50%; left:20px; margin-top: -16px; background:url(../images/icon_lr.png) no-repeat 0 -70px; }
ul.ul08 li span.zcico04{position: absolute;width: 32px;height: 32px; display:block; top: 50%; left:20px; margin-top: -16px; background:url(../images/icon_lr.png) no-repeat 0 -105px; }
ul.ul08 li span.sz{ color:#666; font:normal 14px/26px "微软雅黑"; display:block;}

.zcmid1_tit{ width:90%; height:auto; overflow:hidden; margin:0 auto; padding:30px 0;}
ul.ul09{ width:90%; height:auto; margin:0 auto;}

ul.ul09 li.li04{ text-align:center; font:normal 12px/40px "微软雅黑"; color:#333;}
ul.ul09 li input.but08{ width:100%; height:40px; display:block; background:#af0707; border:none; color:#fff; cursor:pointer; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; margin-bottom:20px;}
ul.ul09 li input.text14{ width:100%; height:40px; border:1px solid #ddd; font:normal 12px/40px "微软雅黑"; color:#666; text-indent:10px;}
ul.ul09 li input.text14:hover{ border:1px solid #ff6000;}
ul.ul09 li input.text15{ width:calc(100% - 110px); height:40px; border:1px solid #ddd; font:normal 12px/40px "微软雅黑"; color:#666; text-indent:10px;}
ul.ul09 li input.text15:hover{ border:1px solid #ff6000;}
}