body {
  font-family: 'Microsoft YaHei', 'Arial', 'Simsun', 'Verdana', 'Helvetica', sans-serif;
  font-size: 12px;
  color: #000;
  line-height: 1.4;
  background: #fff url(../images/bg_body.jpg) repeat-x 0 0;
  -webkit-text-size-adjust: none;
}
/*---------wrapper---------*/
#wrapper {
  min-width: 1000px;
  background: url(../images/bg_wrapper.jpg) repeat-x 0 bottom;
}
/*---------header---------*/
#header {
  width: 1000px;
  height: 180px;
  margin: 0 auto;
  position: relative;
  background: url(../images/bg_header.jpg) no-repeat 0 0;
}
#header h1 { padding: 34px 0 0 32px; }
/*~~loginArea~~*/
#loginArea {
  position: absolute;
  top: 30px;
  right: 5px;
  width: 400px;
  zoom: 1;
}
#loginArea:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
#loginArea ul {
  width: 320px;
  border-right: 1px solid #dfdfdf;
}
#loginArea li {
  margin-bottom: 8px;
  *margin-bottom: 6px;
}
#loginArea span {
  color: #000;
  padding-right: 10px;
}
#loginArea li input {
  height: 20px;
  width: 157px;
  border: 1px solid #dedede;
  vertical-align: middle;
}
#loginArea .textLink {
  position: absolute;
  right: 10px;
  top: 2px;
}
#loginArea .textLink a { color: #00863c; }
#loginArea .remb {
  position: absolute;
  left: 230px;
  top: 2px;
}
#loginArea .remb input {
  vertical-align: middle;
}
#loginArea .btns {
  position: absolute;
  left: 230px;
  top: 32px;
}
#loginArea .btns a { margin: 0 19px 0 0; }
/*~~search~~*/
#search {
  padding-top: 30px;
  height: 38px;
  background: url(../images/bg_search1.png) no-repeat 0 30px;
  zoom: 1;
}
#search:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
#search .txt {
  float: left;
  width: 420px;
  height: 35px;
  padding: 0px 0 1px 6px;
  line-height: 35px;
  background: none;
  border: none;
  color: #000;
  font-size: 14px;
}
#search .btn {
  float: left;
  width: 60px;
  height: 37px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}
#search .btn1 {
  float: left;
  margin: 0 10px;
}
#search .hotSearch {
  float: left;
  width: 427px;
  height: 37px;
  line-height: 37px;
  padding: 0 15px;
  color: #333333;
  background: #f5f5f5;
}
#search .hotSearch a {
  color: #00873c;
  padding: 0 10px;
}
/*---------container---------*/
#container { background: url(../images/bg_cont.jpg) no-repeat center bottom; }
.bbsWrap {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.bbsCont {
  padding: 3px 0 80px;
  background: url(../images/bg_bbs_line.gif) no-repeat center top;
  zoom: 1;
}
.bbsCont:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.bbs01 {
  padding: 15px 0;
  position: relative;
}
.bbs01 h2 {
  color: #00873c;
  font-weight: normal;
  padding-left: 35px;
  margin-bottom: 10px;
  background: url(../images/ic_bbs1.png) no-repeat 0 50%;
}
.bbs01 .bbsNum {
  position: absolute;
  top: 15px;
  left: 90px;
  color: #000;
}
.bbs01 .bbsNum span { padding: 0 5px; }
.bbs01 .bbsNum strong {
  color: #000;
  font-weight: normal;
}
.bbs01 .reply {
  position: absolute;
  top: 15px;
  right: 0px;
  font-size: 14px;
}
.bbs01 .reply a { color: #00873c; }
.bbs01 .reply a:hover { color: #ffbe3c; }
.bbs01 table { width: 100%; }
.bbs01 table tr.last td { background: none; }
.bbs01 table td {
  padding: 10px 0;
  color: #000;
  line-height: 18px;
  vertical-align: bottom;
  background: url(../images/bg_line.png) repeat-x 0 bottom;
}
.bbs01 table td a { color: #ffbe3c; }
.bbs01 table td a:hover { color: #ffbe3c; }
.bbs01 table td .ttl {
  padding-left: 25px;
  margin-bottom: 10px;
  background: url(../images/bg_point01.png) no-repeat 0 50%;
}
.bbs01 table td .ttl a { color: #333; }
.bbs01 table td .ttl a:hover { color: #ffbe3c; }
.bbs01 table td .text { padding-left: 25px; }
.bbs01 table td .text .hot { padding-left: 5px; }
.bbs01 table td .text .hot img { vertical-align: middle; }
.bbs01 table td .moderator {
  padding-left: 25px;
  color: #333;
}
.bbs01 table td .moderator a { color: #000; }
.bbs01 table td .moderator a:hover { color: #ffbe3c; }
.bbs01 table td .num {
  margin-right: 36px;
  border-right: 1px solid #8b8b8b;
}
.bbs01 table td .num span { color: #ffbe3c; }
.bbs01 table td .article a { color: #ffbe3c; }
.bbs01 table td .article a:hover { color: #ffbe3c; }
.bbs02 {
  float: left;
  width: 590px;
  padding: 15px 0;
  position: relative;
}
.bbs02 h2 {
  color: #00873c;
  font-weight: normal;
  padding-left: 35px;
  margin-bottom: 10px;
  background: url(../images/ic_bbs2.png) no-repeat 0 50%;
}
.bbs02 .bbsNews { margin-left: 35px; }
.bbs03 {
  float: left;
  width: 410px;
  padding: 15px 0;
  position: relative;
}
.bbs03 h2 {
  color: #00873c;
  font-weight: normal;
  padding-left: 35px;
  margin-bottom: 10px;
  background: url(../images/ic_bbs3.png) no-repeat 0 50%;
}
.bbsNews { border-bottom: 1px solid #8fcaa9; }
.bbsNews li {
  min-height: 18px;
  padding: 10px 0;
  color: #000;
  background: url(../images/bg_line.png) repeat-x 0 top;
}
.bbsNews li:first-child { background: none; }
.bbsNews li.import a { color: #ff3a4b; }
.bbsNews li a { color: #000; }
.bbsNews li a:hover { color: #ffbe3c; }
.bbsNews li span {
  width: 18px;
  height: 17px;
  margin-right: 12px;
  text-align: center;
  color: #4d4d4d;
  display: inline-block;
}
.bbsNews li span.num01 {
  color: #fff;
  background: url(../images/bg_num1.png) no-repeat 0 top;
}
.bbsNews li span.num02 {
  color: #fff;
  background: url(../images/bg_num2.png) no-repeat 0 top;
}
.bbsNews li span.num03 {
  color: #fff;
  background: url(../images/bg_num3.png) no-repeat 0 top;
}
.bbsNews li .groom { padding-left: 5px; }
.bbsNews li .groom img { vertical-align: middle; }
/*~~ bbsLeft ~~*/
.bbsLeft {
  float: left;
  width: 250px;
}
.bbsLeft h2 {
  color: #00863c;
  height: 62px;
  font-size: 29px;
  font-weight: normal;
  padding: 28px 0 0 25px;
  line-height: 29px;
  text-align: left;
  font-family: "microsoft YaHei";
  background: url(../images/bg_ttl.jpg) no-repeat 0 0;
}
.bbsLeft h2 span {
  display: block;
  font-size: 25px;
  font-family: 'Arial';
  text-align: left;
}
.bbsLeft .leftMenu li { font-family: "microsoft YaHei"; }
.bbsLeft .leftMenu li a {
  display: block;
  height: 43px;
  line-height: 43px;
  font-size: 14px;
  color: #00873c;
  text-align: left;
  border-bottom: 2px solid #b0dac3;
}
.bbsLeft .leftMenu li.on a, .bbsLeft .leftMenu li:hover a {
  color: #fbb03b;
  border-bottom: 2px solid #fdd89d;
}
.bbsLeft .leftMenu li a span {
  padding-left: 5px;
  display: inline-block;
}
.bbsLeft .leftMenu li.on a span, .bbsLeft .leftMenu li:hover a span { border-bottom: 2px solid #fbb03b; }
.bbsLeft .leftMenu li ul { border-bottom: 2px solid #b0dac3; }
.bbsLeft .leftMenu li.on ul li a {
  border: 0px;
  color: #00873c;
  padding-left: 30px;
  background: url(../images/bg_point.png) no-repeat 5px 50%;
}
.bbsLeft .leftMenu li.on ul li.on a, .bbsLeft .leftMenu li ul li:hover a { color: #fbb03b; }
/*~~ bbsRight ~~*/
.bbsRight {
  float: right;
  width: 705px;
}
.bbsRight .path {
  height: 50px;
  color: #00863c;
  position: relative;
  background: url(../images/bg_line2.gif) repeat-x 0 bottom;
}
.bbsRight .path p {
  position: absolute;
  left: 0px;
  bottom: 10px;
  padding-left: 35px;
  background: url(../images/ic_bbs1.png) no-repeat 0 50%;
}
.bbsRight .path p a {
  color: #00863c;
  margin: 0 5px;
}
.bbsRight .path p a:hover { color: #fbb03b; }
.bbsRight .path p span { margin: 0 5px; }
/*~~ bbsMain ~~*/
.bbsMain {
  margin-top: 30px;
  padding: 0 0 50px 34px;
  min-height: 500px;
  background: url(../images/bg_submain.gif) no-repeat 0 0;
}
.bbsTable {
  width: 672px;
  background: url(../images/bg_th.png) no-repeat 0 top;
}
.bbsTable table { width: 100%; }
.bbsTable th {
  height: 37px;
  line-height: 37px;
  font-size: 14px;
  color: #00873c;
  font-weight: normal;
  text-align: left;
  padding: 0 20px;
}
.bbsTable td {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  text-align: left;
  background: url(../images/bg_line.png) repeat-x 0 top;
}
.bbsTable td.ttl { padding: 0px; }
.bbsTable tr.noBg td { background: none; }
.bbsTable td span {
  color: #00873c;
  padding-right: 5px;
}
.bbsInfo {
  padding: 15px 0 80px 0;
  position: relative;
}
.bbsInfo .path {
  height: 30px;
  color: #00863c;
  font-size: 14px;
  position: relative;
}
.bbsInfo .path p {
  padding-left: 35px;
  background: url(../images/ic_bbs1.png) no-repeat 0 50%;
}
.bbsInfo .path p a {
  color: #00863c;
  margin: 0 5px;
}
.bbsInfo .path p a:hover { color: #fbb03b; }
.bbsInfo .path p span { margin: 0 5px; }
.bbsInfo .return {
  position: absolute;
  top: 15px;
  right: 0px;
  font-size: 14px;
}
.bbsInfo .return a { color: #00873c; }
.bbsInfo .return a:hover { color: #fbb03b; }
.bbsTie {
  margin-top: 15px;
  border: 1px solid #80c39e;
  background: #fff url(../images/bg_tie.gif) no-repeat center 0;
}
.bbsTie table { width: 100%; }
.bbsTie table th {
  font-size: 14px;
  font-weight: normal;
  padding: 0 10px;
  text-align: left;
}
.bbsTie table thead th {
  height: 36px;
  color: #000;
}
.bbsTie table thead th.textInfo{ width: 750px; }
.bbsTie table thead th span { color: #ffbe3c; }
.bbsTie table thead th strong { color: #333; }
.bbsTie table thead th a { color: #00873c; }
.bbsTie table thead th a:hover { color: #ffbe3c; }
.bbsTie table thead th .floor { color: #00873c; }
.bbsTie table tbody th {
  position: relative;
  width: 148px;
  height: 213px;
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #f1f1f1;
}
.bbsTie table tbody th .user{
  left: 10px;
  position: absolute;
  top: 10px;
}
.bbsTie table tbody th img {
  padding: 50px 0 0 19px;
}
.bbsTie table tbody td {
  position: relative;
  padding: 10px 25px 100px;
  vertical-align: top;
}
.bbsTie table tbody td .article {
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}
.bbsTie table tbody td .reply {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.bbsTie table tbody td .reply span {
  display: block;
  margin: 0 25px;
  height: 30px;
  padding-top: 10px;
  background: url(../images/bg_line.png) repeat-x 0 top;
}
.bbsTie table tbody td .reply a {
  padding-left: 30px;
  color: #00863c;
  background: url(../images/ic_bbs1.png) no-repeat 0 50%;
}
.bbsTie table tbody td .reply a:hover { color: #fbb03b; }
.bbsTie table tbody td .share {
  position: absolute;
  width: 100%;
  bottom: 60px;
  left: 0px;
  text-align: center;
  font-size: 14px;
  color: #000;
  height: 23px;
  font-weight: bold;
}
.bbsTie table tbody td .share a {
  height: 23px;
  line-height: 23px;
  display: inline-block;
  color: #000;
  margin: 0 20px;
  padding: 0 0 0 27px;
  font-weight: normal;
}
.bbsTie table tbody td .share a.share1 { background: url(../images/bg_share1.png) no-repeat 0 top; }
.bbsTie table tbody td .share a.share2 { background: url(../images/bg_share2.png) no-repeat 0 top; }
.bbsTie table tbody td .share a.share3 { background: url(../images/bg_share3.png) no-repeat 0 top; }
.bbsTie table tbody td .share a.share4 { background: url(../images/bg_share4.png) no-repeat 0 top; }
.postArea {
  position: relative;
  padding: 15px 0 0;
}
.postArea .postBtn { padding-bottom:15px; }
.postArea .return {
  position: absolute;
  top: 22px;
  right: 0px;
  font-size: 14px;
}
.postArea table {
  width: 100%;
  background: #fff;
  border: 1px solid #e3e3e3;
}
.postArea table th {
  width: 110px;
  vertical-align: top;
  padding: 64px 29px;
  border-right: 1px solid #e3e3e3;
}
.postArea table td {
  vertical-align: top;
  padding: 20px 25px;
}
.postArea table td .reply { margin: 15px 0 0; }
/*~~wp-pagenav~~*/
.wp-pagenav {
  color: #0f8e47;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  margin: 10px 0 30px;
  padding-top: 20px;
  border-top: 1px solid #80c39e;
  position: relative;
}
.wp-pagenav:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
.wp-pagenav .extend { padding: 0 9px 0 4px; }
.wp-pagenav a, .wp-pagenav .current {
*display:inline-block;
  padding: 4px 8px 3px 8px;
*padding:1px 8px 2px 8px;
  color: #0f8e47;
  margin-right: 4px;
}
.wp-pagenav a:hover, .wp-pagenav .current {
  color: #0f8e47;
  border: 1px solid #0f8e47;
  padding: 4px 7px 3px 7px;
*padding:1px 7px 2px 7px;
}
.wp-pagenav .back img, .wp-pagenav .next img { vertical-align: middle; }
.wp-pagenav .back:hover, .wp-pagenav .next:hover {
  padding: 4px 8px 3px 8px;
*padding:1px 8px 2px 8px;
  border: 0px;
}
.wp-pagenav .record {
  position: absolute;
  top: 20px;
  left: 0px;
  color: #000;
}
.wp-pagenav .record span {
  margin: 0 3px;
  color: #0f8e47;
}
.wp-pagenav .post {
  position: absolute;
  top: 15px;
  right: 0px;
  padding: 0px;
  margin: 0px;
}
.wp-pagenav .post:hover {
  padding: 0px;
  border: 0px;
}
/*---------footer---------*/
#footer {
  height: 44px;
  background: #5a4637;
  border-top: 1px solid #958a81;
}
#footer .ftwrap {
  width: 1000px;
  margin: 0 auto;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
#footer .ftwrap .copyRight {
  color: #988575;
  text-align: center;
  line-height: 44px;
}
